/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.one{
    background-color: black;
    color: white;
    padding:1% 4%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
a{
    color: white;
    text-decoration: none;
}
li{
    list-style: none;
    display: inline;
    padding: 1%;
}
.s{
    padding: 3px 10px;
}
.no{
    display: flex;
}
.e{
    padding: 0 9px;
}




div {
  height: 300px;
  background: yellow;
  position: relative;
}
div:after {
  content: 'hhiiiiiiiiiiiiiiiiiiiiiiiiiiiii';
  position: absolute;
  top: 0;
  right: 0;
  border-top: 80px solid white;
  border-left: 80px solid yellow;
  width: 0;
} */

/* 
.wrapper{
    width: 50%;
    border: 2px solid black;
    display: flex;
}
.div1{
    width: 50%;
    background-color: red;
    border-right: 50px solid blue;
    border-top: 330px solid transparent;
}
.div2{
    width: 50%;
    background-color: green;
   
    box-sizing: border-box;
}

img{
    height: 250px;
} */


/* .cliped{
    padding: 2% 4%;
    /* width: 230px;
    height: 211px; */
    /* width: 241px;
    height: 240px;
    background: tomato;
    color: white; */
    /* clip-path: polygon(10px 0 , 250px 0, 200px 300px, 0 0px); */
    /* clip-path: polygon(0 0, 100% 0%, 83% 100%, 0% 100%);
  }
  .polygon{ */
    /* margin:1%; */
    /* display: flex;
  }
  .section-polygon img{
    height: 263px;
    position: inherit;
    left: -23%;
    z-index: -1;
    
}
button.white {
    background-color: white;
    border-radius: 30px;
    padding: 2% 7%;
    border: none;
}
.section-polygon{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1% 4%;
    
}
.clip-img{
    position: relative;
    width: 47%;
} */




.newsletter{
    background-color: #00aaa0;
    color: white;
    padding: 1% 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.one{
    align-self: center;
    /* width: 60%; */
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
}
.one1 , .two1 p{
    margin: 0 ;
}
.one1 , .two1 h3{
    margin: 2% 0;
}
.one2 input{
    /* width: 60%; */
    padding: 2% 4%;
}
.one2 button{
    background-color:black;
    color: white;
    padding: 2% 4%;
}
.one2{
    /* width: 67%; */
    border: 2px solid pink;
    align-self: center;
    
}
.one1{
    margin-right: 3%;
}
.two2{
    /* width: 40%; */
}
.two{
    display: flex;
    flex-wrap: wrap;
    border: 2px solid red;
    /* width: 36%; */
    justify-content: space-around;
}
.fb{
    background-color: #1ce1d4a1;
    color: white;
    height: 25px;
    /* width: 25px; */
    display: inline-block;
    text-align: center;
    
}
.fbic{
    padding-top:17%;
}
.neews-one input{
    /* width: 100%; */
    padding: 3% 6%;
}
.neews-one button{
    background-color: black;
    color: white;
    padding: 3% 6%;
}
a{
    text-decoration: none;
    margin: 0 3%;
}
